.facilidades__container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    background-color: var(--preto);

}

.facilidades__itens{
    padding: 5vh;
}
   
.facilidades__titulo-principal{
    color: var(--branco);
    text-align: center;
    padding: 2vh;
    font-size: 32px;
    font-weight: 500;
    background-color: var(--preto);
}


@media screen and (max-width: 600px) {

}


@media screen and (max-width: 992px) {
    .facilidades__container{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    }

}