.produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    justify-content: space-between;
    align-content: center;
    text-align:left;
    column-gap: 20px;
    row-gap: 50px;
    padding-left: 10vh;


}



.produtos__titulos-item {
    font-size: 16px;
    font-weight: 700;
    color: var(--cor-secundaria);
}

.produtos__descrição{
    font-size: 13px;
    font-weight: 400;
    color: var(--cor-secundaria);

}

.produtos__valor{
    font-size: 16px;
    font-weight: 700;
    color: var(--cor-secundaria);
}

.produtos__botão{
    background-color: var(--roxo);
    color: var(--branco);
    font-weight: 500;
    font-size: 16px;
    border: transparent;
    padding: 15px;
}

